div.right.container{
  justify-content: flex-end;
}

.gif-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100%;
}

a.nav-link{
  color: white;
}

.title-text{
  color: white;
  text-align: center;
}

a.no-col-change{
  transition: all 0.3s ease;
}

a.no-col-change:hover{
  color: rgb(169, 169, 169);
  transition: all 0.3s ease;
}
