html{
  scroll-behavior: smooth;
}
.flexi-row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  .proj-img-cont{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .proj-img-cont:hover{
    transform: scale(1.01);
  }
  .proj-img{
    border-radius: 10px;
    max-width: 500px;
    height: auto;
  }
  .proj-desc-cont{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 20px ;
  }
  .text-align-center{
    text-align: center;
  }
  .flexi-row-2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons{
    margin: 10px 15px;
    color: white;
  }
  .icons:hover{
    transform: scale(1.1);
  }
  .no-m-para{
    margin: 5px 0 0 0;
    color: grey;
  }
}


@media only screen and (max-width: 1100px){
  div.flexi-row{
    flex-direction: column-reverse;
  }
  .flexi-row-2{
    margin: 5px 15px 10px 15px;
    color: white;
  }
  .proj-desc-cont{
    max-width: 380px;
  }
  .proj-img{
    max-width: 380px;
    width: 380px;
  }
  .para{
    margin-bottom: 0;
  }
  .flexi-row.py-4{
    padding: 30px 0;
  }
}
